<?xml version="1.0" encoding="UTF-8"?>
<!-- указываем, что логгер будет обрабатывать все исключения с уровень WARN и выше. -->
<!--                                  поломка приложения -->
<!-- trace -> debug -> info -> warn   -> error           -->
<Configuration status="WARN">

<!-- куда выводим информацию  -->
<!-- В данном примере мы сообщения выводим в КОНСОЛЬ -->
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
<!--
%d{yyyy-MM-dd HH:mm:ss} – выводит дату в формате 2014-01-14 23:55:57
%-5level – выводит уровень лога (ERROR, DEBUG, INFO …), цифра 5 означает что всегда использовать 5 символов
       остальное дополнится пробелами, а минус (-), то что позиционирование по левой стороне.
%c{1} – категория, в скобках указывается сколько уровней выдавать.
        1 - имя класса, 2 - имя класса + пакета
%L () или %logger{36} – номер строки в которой произошёл вызов записи в лог.
%m – сообщение, которое передали в лог.
%t - имя метода ???
%n – переход на новую строку
 -->
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg %c{1} %n"/>
        </Console>
    </Appenders>

<!-- точка, ОТКУДА уходят сообщения в коде -->
<!-- указывает уровни логера для конкретных пакетов  -->
    <Loggers>
<!--        уровень для файлов в папке jdbc -->
        <Logger name="jdbc" level="trace" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

<!--        уровень по умолчанию -->
        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>